<form action="/mail" method="post">
  <label for="to-name">Name</label>
  <input type="text" name="to-name" id="to-name" autocomplete="name" />
  <label for="to-email">Email</label>
  <input
    type="email"
    name="to-email"
    id="to-email"
    autocomplete="email"
    required
  />
  <label for="subject">Subject</label>
  <input type="text" name="subject" id="subject" />
  <label for="message">Message</label>
  <textarea name="message" id="message" rows="10"></textarea>
  <button type="submit">Send 🚀</button>
</form>
